<div class="cc">
    <div class="head">
        <div class="nav">
            <div class="logo col-xl-5 col-sm-5 col-12">
                <p style="font-size: 26px;">魔莎 Cake</p>
                <p style="font-size: 18px;">Mosa Cake</p>
            </div>
            <ul class="col-xl-7 col-sm-7 col-12">
                <router-link to="/ShopComponents"><li>蛋糕/麵包</li></router-link>
                <router-link to="/Activity"><li>優惠活動</li></router-link>
                <router-link to="/UserComponents"><li>登入</li></a></router-link>
            </ul>
        </div>
    </div>
    <div class="wrap">
        <router-view></router-view>
    </div>
    <!-- <div class="push"></div> -->
    <div class="footer"><span>&copy;</span></div>
</div>
